@model redeSocial.Models.Postagem

@{
    ViewData["Title"] = "Create";
}

<h4>Nova Postagem</h4>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="conteudoTxt" class="form-control" placeholder="Conteúdo da postagem..."/>
        <span asp-validation-for="conteudoTxt" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="file" accept=".jpg, .png, .gif, .bmp" class="form-control" name="arquivo"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Publicar" class="btn btn-primary"/>
    </div>
</form>
<a asp-action="Index">Cancelar</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
