@model IEnumerable<redeSocial.Models.Postagem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nova Postagem</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario!.nome)
            </td>
            <td>
            </td>
                @Html.DisplayFor(modelItem => item.conteudoTxt)
            <td>
            </td>
                @{
                    var loadMidia = redeSocial_WebApplication.Controllers.PostagensController.Arquivo(ViewBag.Arquivo, item.postID);                    
                    if (loadMidia != null)
                    {
                        string arquivePath = Directory.GetCurrentDirectory() + "/wwwroot/arquivos/" + loadMidia.nomeArmazenamento;
                        switch (loadMidia.tipoArquivo)
                        {
                            case "img":
                                <img src="@arquivePath"/>
                                break;
                            case "video":
                                <video controls><source src="@arquivePath"/></video>
                                break;
                        }
                    }
                }
        </tr>
}
    </tbody>
</table>
